SZInterfaceLib/gsoap/SynTocity.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://synToCity.synchrodata.daniu.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IVehicleServiceService" targetNamespace="http://synToCity.synchrodata.daniu.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://synToCity.synchrodata.daniu.com/" elementFormDefault="unqualified" targetNamespace="http://synToCity.synchrodata.daniu.com/" version="1.0">

  <xs:element name="BeginCheck" type="tns:BeginCheck"/>

  <xs:element name="BeginCheckResponse" type="tns:BeginCheckResponse"/>

  <xs:element name="GetBaseTypeInfo" type="tns:GetBaseTypeInfo"/>

  <xs:element name="GetBaseTypeInfoResponse" type="tns:GetBaseTypeInfoResponse"/>

  <xs:element name="GetCheckList" type="tns:GetCheckList"/>

  <xs:element name="GetCheckListResponse" type="tns:GetCheckListResponse"/>

  <xs:element name="GetVehicle" type="tns:GetVehicle"/>

  <xs:element name="GetVehicleResponse" type="tns:GetVehicleResponse"/>

  <xs:element name="LoginServer" type="tns:LoginServer"/>

  <xs:element name="LoginServerResponse" type="tns:LoginServerResponse"/>

  <xs:element name="UploadInspectionResult" type="tns:UploadInspectionResult"/>

  <xs:element name="UploadInspectionResultResponse" type="tns:UploadInspectionResultResponse"/>

  <xs:element name="vehiclelogin" type="tns:vehiclelogin"/>

  <xs:element name="vehicleloginResponse" type="tns:vehicleloginResponse"/>

  <xs:complexType name="BeginCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="unitid" type="xs:string"/>
      <xs:element minOccurs="0" name="lineid" type="xs:string"/>
      <xs:element minOccurs="0" name="plate" type="xs:string"/>
      <xs:element minOccurs="0" name="vin" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BeginCheckResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UploadInspectionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="token" type="xs:string"/>
      <xs:element minOccurs="0" name="unitid" type="xs:string"/>
      <xs:element minOccurs="0" name="checkresult" type="xs:string"/>
      <xs:element name="checkmethod" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UploadInspectionResultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="token" type="xs:string"/>
      <xs:element minOccurs="0" name="unitid" type="xs:string"/>
      <xs:element minOccurs="0" name="vin" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetVehicleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vehiclelogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="vehiclexml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vehicleloginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetCheckList">
    <xs:sequence>
      <xs:element minOccurs="0" name="token" type="xs:string"/>
      <xs:element minOccurs="0" name="unitid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetCheckListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LoginServer">
    <xs:sequence>
      <xs:element minOccurs="0" name="unitid" type="xs:string"/>
      <xs:element minOccurs="0" name="lineid" type="xs:string"/>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="pwd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LoginServerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetBaseTypeInfo">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="GetBaseTypeInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetBaseTypeInfoResponse">
    <wsdl:part element="tns:GetBaseTypeInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BeginCheck">
    <wsdl:part element="tns:BeginCheck" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCheckListResponse">
    <wsdl:part element="tns:GetCheckListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetVehicle">
    <wsdl:part element="tns:GetVehicle" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginServer">
    <wsdl:part element="tns:LoginServer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="vehicleloginResponse">
    <wsdl:part element="tns:vehicleloginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetBaseTypeInfo">
    <wsdl:part element="tns:GetBaseTypeInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BeginCheckResponse">
    <wsdl:part element="tns:BeginCheckResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UploadInspectionResult">
    <wsdl:part element="tns:UploadInspectionResult" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginServerResponse">
    <wsdl:part element="tns:LoginServerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="vehiclelogin">
    <wsdl:part element="tns:vehiclelogin" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCheckList">
    <wsdl:part element="tns:GetCheckList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetVehicleResponse">
    <wsdl:part element="tns:GetVehicleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UploadInspectionResultResponse">
    <wsdl:part element="tns:UploadInspectionResultResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IVehicleService">
    <wsdl:operation name="BeginCheck">
      <wsdl:input message="tns:BeginCheck" name="BeginCheck">
    </wsdl:input>
      <wsdl:output message="tns:BeginCheckResponse" name="BeginCheckResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInspectionResult">
      <wsdl:input message="tns:UploadInspectionResult" name="UploadInspectionResult">
    </wsdl:input>
      <wsdl:output message="tns:UploadInspectionResultResponse" name="UploadInspectionResultResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <wsdl:input message="tns:GetVehicle" name="GetVehicle">
    </wsdl:input>
      <wsdl:output message="tns:GetVehicleResponse" name="GetVehicleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vehiclelogin">
      <wsdl:input message="tns:vehiclelogin" name="vehiclelogin">
    </wsdl:input>
      <wsdl:output message="tns:vehicleloginResponse" name="vehicleloginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckList">
      <wsdl:input message="tns:GetCheckList" name="GetCheckList">
    </wsdl:input>
      <wsdl:output message="tns:GetCheckListResponse" name="GetCheckListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginServer">
      <wsdl:input message="tns:LoginServer" name="LoginServer">
    </wsdl:input>
      <wsdl:output message="tns:LoginServerResponse" name="LoginServerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaseTypeInfo">
      <wsdl:input message="tns:GetBaseTypeInfo" name="GetBaseTypeInfo">
    </wsdl:input>
      <wsdl:output message="tns:GetBaseTypeInfoResponse" name="GetBaseTypeInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IVehicleServiceServiceSoapBinding" type="tns:IVehicleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="BeginCheck">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="BeginCheck">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="BeginCheckResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadInspectionResult">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="UploadInspectionResult">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UploadInspectionResultResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetVehicle">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetVehicleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vehiclelogin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="vehiclelogin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="vehicleloginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCheckList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCheckListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginServer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="LoginServer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="LoginServerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaseTypeInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetBaseTypeInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBaseTypeInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IVehicleServiceService">
    <wsdl:port binding="tns:IVehicleServiceServiceSoapBinding" name="IVehicleServicePort">
      <soap:address location="http://172.141.32.1:9088/synchrodata/webservice//SynTocity"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>