SZIntLibbd_New/gsoap/bd.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://synToCity.synchrodata.daniu.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IBdServiceService" targetNamespace="http://synToCity.synchrodata.daniu.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://synToCity.synchrodata.daniu.com/" elementFormDefault="unqualified" targetNamespace="http://synToCity.synchrodata.daniu.com/" version="1.0">

  <xs:element name="UploadBDResult" type="tns:UploadBDResult"/>

  <xs:element name="UploadBDResultResponse" type="tns:UploadBDResultResponse"/>

  <xs:complexType name="UploadBDResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="checkresult" type="xs:string"/>
      <xs:element name="action" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UploadBDResultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="UploadBDResult">
    <wsdl:part element="tns:UploadBDResult" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UploadBDResultResponse">
    <wsdl:part element="tns:UploadBDResultResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IBdService">
    <wsdl:operation name="UploadBDResult">
      <wsdl:input message="tns:UploadBDResult" name="UploadBDResult">
    </wsdl:input>
      <wsdl:output message="tns:UploadBDResultResponse" name="UploadBDResultResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IBdServiceServiceSoapBinding" type="tns:IBdService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UploadBDResult">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="UploadBDResult">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UploadBDResultResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IBdServiceService">
    <wsdl:port binding="tns:IBdServiceServiceSoapBinding" name="IBdServicePort">
      <soap:address location="http://172.141.32.1:9999/synchrodata/webservice/bd"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>