SYDATA/联网平台信息/ExhaustService.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UploadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TsNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TestLineNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jkxlh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ywlb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadTestData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TsNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TestLineNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Jkxlh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ywlb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Obd_InfoXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Obd_IuprXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadTestDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadTestDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadData" />
  </wsdl:message>
  <wsdl:message name="UploadDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDataResponse" />
  </wsdl:message>
  <wsdl:message name="UploadTestDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadTestData" />
  </wsdl:message>
  <wsdl:message name="UploadTestDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadTestDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ExhaustServiceSoap">
    <wsdl:operation name="UploadData">
      <wsdl:input message="tns:UploadDataSoapIn" />
      <wsdl:output message="tns:UploadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadTestData">
      <wsdl:input message="tns:UploadTestDataSoapIn" />
      <wsdl:output message="tns:UploadTestDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExhaustServiceSoap" type="tns:ExhaustServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadData">
      <soap:operation soapAction="http://tempuri.org/UploadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTestData">
      <soap:operation soapAction="http://tempuri.org/UploadTestData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExhaustServiceSoap12" type="tns:ExhaustServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadData">
      <soap12:operation soapAction="http://tempuri.org/UploadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTestData">
      <soap12:operation soapAction="http://tempuri.org/UploadTestData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExhaustService">
    <wsdl:port name="ExhaustServiceSoap" binding="tns:ExhaustServiceSoap">
      <soap:address location="http://192.168.1.253/WebExhaustService/ExhaustService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExhaustServiceSoap12" binding="tns:ExhaustServiceSoap12">
      <soap12:address location="http://192.168.1.253/WebExhaustService/ExhaustService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>