ZKYTInterfaceLib/gsoap/deviceSwap.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="DeviceSwapIfaceImplService" targetNamespace="http://iface.server.webservice.zkyt.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://iface.server.webservice.zkyt.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://iface.server.webservice.zkyt.com/" version="1.0" xmlns:tns="http://iface.server.webservice.zkyt.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getSqm" type="tns:getSqm"/>
<xs:element name="getSqmResponse" type="tns:getSqmResponse"/>
<xs:element name="jdcjk" type="tns:jdcjk"/>
<xs:element name="jdcjkResponse" type="tns:jdcjkResponse"/>
<xs:complexType name="getSqm">
<xs:sequence>
<xs:element minOccurs="0" name="jcxbh" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSqmResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="jdcjk">
<xs:sequence>
<xs:element minOccurs="0" name="sqm" type="xs:string"/>
<xs:element minOccurs="0" name="jklx" type="xs:string"/>
<xs:element minOccurs="0" name="jhsj" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="jdcjkResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>

  </wsdl:types>
  <wsdl:message name="jdcjkResponse">
    <wsdl:part element="tns:jdcjkResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="jdcjk">
    <wsdl:part element="tns:jdcjk" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSqmResponse">
    <wsdl:part element="tns:getSqmResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSqm">
    <wsdl:part element="tns:getSqm" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeviceSwapIface">
    <wsdl:operation name="getSqm">
      <wsdl:input message="tns:getSqm" name="getSqm">
    </wsdl:input>
      <wsdl:output message="tns:getSqmResponse" name="getSqmResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jdcjk">
      <wsdl:input message="tns:jdcjk" name="jdcjk">
    </wsdl:input>
      <wsdl:output message="tns:jdcjkResponse" name="jdcjkResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeviceSwapIfaceImplServiceSoapBinding" type="tns:DeviceSwapIface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSqm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSqm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSqmResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="jdcjk">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="jdcjk">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="jdcjkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeviceSwapIfaceImplService">
    <wsdl:port binding="tns:DeviceSwapIfaceImplServiceSoapBinding" name="DeviceSwapIfaceImplPort">
      <soap:address location="http://172.16.128.6:8118/jk/services/deviceSwap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>